* {
  margin: 0;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}
.app {
  background-color: #fafafa;
  height: auto !important;
}
.app__signup {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsRight {
  margin-left: 20px;
  position: static;
}
@media (max-width: 800px) {
  .app__postsRight {
    display: none;
  }
}
